.container
  if path !== '/contact'
    .social-media-icons
      ul
        li
          a(target='_blank', title='Find me on Facebook', href='https://www.facebook.com/subhan.naeem.9')
            img(alt='Follow me on Facebook', src='/img/Facebook_logo_vector-4.png', border='0')
        li
          a(target='_blank', title='Find me on Instagram', href='https://www.instagram.com/n_subhan/')
            img(alt='follow me on facebook', src='/img/Instagram_simple_icon.svg.png', border='0')
        li
          a(target='_blank', title='Find me on Linkedin', href='https://www.linkedin.com/in/subhan-naeem-a52b3991')
            img(alt='follow me on facebook', src='/img/linkedin-4096-black.png', border='0')
        li
          a(target='_blank', title='Find me on Github', href='https://github.com/submetu/')
            img(alt='follow me on facebook', src='/img/Octicons-mark-github.svg.png', border='0')
  .container
    h3 © Subhan Naeem. All rights reserved


