title Subhan Naeem
link(rel="icon" href="http://localhost:3000/favicon.ico?v=2")
meta(name='viewport', content='width=device-width, initial-scale=1')
link(href='https://fonts.googleapis.com/css?family=Prompt', rel='stylesheet')
link(rel='stylesheet', href='/css/bootstrap.min.css')
if path === '/'
    link(rel='stylesheet', href='/jquery_plugins/animate.css')
    link(rel='stylesheet', href='/css/style_common.css')
    link(rel='stylesheet', href='/css/style10.css')
if path === '/about'
    link(rel='stylesheet', href='/css/style_about.css')
if path === '/contact'
    link(rel='stylesheet', href='/css/style_contact.css')
if path === '/work'
    link(rel='stylesheet', href='/css/style_work_detail.css')
    link(rel='stylesheet', href='/css/style_work.css')
link(rel='stylesheet', href='/css/style.css')