script(src='/js/jquery-3.1.0.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
if (path === '/work' || path === '/home_automation')
  script(src='/js/workJS.js')
else if path === '/'
  script(src='/jquery_plugins/jquery.lettering.js')
  script(src='/jquery_plugins/jquery.textillate.js')
  script(src='/js/app.js')
else if path === '/photos'
  script(src='/js/photosJs.js')
