ul.view-more
  if path === '/home_automation'
    li
      div
        a#view-more(href='/home_automation')
          span Home Automation
  else
    li
      div
        a#view-more(href='/work')
          span My Work
  li
    div
      a#view-more(href='/contact')
        span Contact Me
  li
    div
      a#view-more(href='#heading-top')
        span Back to Top
    