extends layout

block content
  .container.work-main
    h1 Home Automation 
    .work-list
      ul
        li
          a.anchor(href='/home_automation/step1')
            img(src='/img/step1.png')
            .banner
              h3 LED and Temperature Sensor 
              span Node.Js Socket.io MQTT Arduino
        li
          a.anchor(href='/home_automation/coffee')
            img(src='/img/step2.png')
            .banner
              h3 Automated Coffee
              span Node.Js Socket.io MQTT NodeMCU
        
  include ./partials/_js
