doctype html
html
  head
    include ./partials/_head
  .main-content  
    #body  
      body
        include ./partials/_nav
        block content
    #footer  
      footer
        include ./partials/_footer