extends layout

block content
  .container.work-main
    h1 My Work
    .work-list
      ul
        li
          a.anchor(href='treehouse_search.html')
            img(src='img/treehouse_search.png')
            .banner
              h3 Treehouse User Search 
              span JavaScript jQuery Node.Js
        li
          a.anchor(href='#')
            img(src='img/movie_search.png')
            .banner
              h3 IMDb Movie Search
              span JavaScript jQuery AJAX
        li
          a.anchor(href='#')
            img(src='img/tic-tac-toe.png')
            .banner
              h3 Tic-Tac-Toe
              span JavaScript jQuery
        li
          a.anchor(href='#')
            img(src='img/interactive_form.png')
            .banner
              h3 Interactive Form
              span JavaScript jQuery
        li
          a.anchor(href='#')
            img(src='img/Pagination.png')
            .banner
              h3 Pagination and Student Search
              span JavaScript jQuery
        li
          a.anchor(href='#')
            img(src='img/random_quote.png')
            .banner
              h3 Random Quote Generator
              span JavaScript jQuery
        li
          a.anchor(href='#')
            img(src='img/quiz.png')
            .banner
              h3 Single Page Quiz App
              span JavaScript jQuery
  script(src='js/jquery-3.1.0.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/workJS.js')
